/* .vp-doc .el-table tr {
  border-top: none;
  transition: none;
}

.vp-doc .el-table th {
  font-size: inherit;
  border-left: none;
  border-top: none;
}

.vp-doc .el-table td {
  font-size: inherit;
  border-left: none;
  border-top: none;
}

.vp-doc .el-table table {
  display: inherit;
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: inherit;
  margin: 0;
  overflow-x: inherit;
  table-layout: fixed;
} */

/* 代码块统一暗色背景 */
:root {
  --vp-code-block-bg: #1e1e1e;
}

html {
  scroll-behavior: smooth;
}

.vp-doc {

  .el-table__header,
  .el-table__body {
    margin: 0;
  }

  .el-table tr {
    border-top: 0;
  }

  .el-menu-item {
    margin-top: 0;
  }

  th,
  td {
    border: 0;
    min-width: 92px;
  }

  tr:nth-child(2n) {
    background-color: unset;
  }

  tr:nth-last-child(1) {
    border-bottom: 1px solid var(--vp-c-divider);
  }

  .el-table table {
    display: table;
    width: 100%;
  }

  ul,
  ol {
    padding-left: 0;
    margin: 0;
  }
}

.padding-0 {
  padding: 0;
}

.doc-pre {
  font-size: 12px;
  margin-top: 8px;
  background-color: var(--el-fill-color);
  line-height: 1;
  padding: 5px;
}